@model Nagarro.BookReading.Web.Models.EventViewModel

@{
    ViewData["Title"] = "CreateEvent";
}
<h1 class="text-info font-weight-bold">Create your Event</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="title" class="form-control input-sm" placeholder="Title.."/>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="date" class="form-control" placeholder="Date..."/>
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startTime" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="startTime" class="form-control" placeholder="Start Time..."/>
                <span asp-validation-for="startTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="location" class="form-control" placeholder="Venue..."/>
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="description" class="form-control" placeholder="Description..."/>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="duration" class="form-control" placeholder="Duration..."/>
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="organiser" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="organiser" class="form-control" placeholder="Organiser..."/>
                <span asp-validation-for="organiser" class="text-danger"></span>
            </div>
            <div class="form-group text-dark font-weight-bold">

                <label asp-for="eventType" class="control-label text-dark font-weight-bold"></label>&nbsp;
                <input type="radio" name="eventType" value="Public" checked />&nbsp;Public&nbsp;
                <input type="radio" name="eventType" value="Private" />&nbsp;Private&nbsp;
                <span asp-validation-for="eventType" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="invitees" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="invitees" class="form-control" placeholder="Invitees..."/>
                <span asp-validation-for="invitees" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info btn-block" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
